#content {
    font-family: vazir;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth; /* اسکرول نرم */
  }

  /* هدر */
  header {
    text-align: center;
    padding: 60px 20px 0;
    background: inherit;
    border-bottom: 4px solid #3b49a4;
  }
  header h1{
    font-size: 32px;
    font-weight: bold;
    color: #101b65;
    margin-top: 25px;
  }

  /* فهرست مطالب */
  .toc {
    background: #fff;
    max-width: 900px;
    margin: 25px 10px;
    padding: 15px 16px;
    border-radius: 12px;
    box-shadow: 0 2px 20px 6px rgba(0,0,0,0.08);
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 80%;
    align-self: center;
    justify-content: center;
  }

  .toc a {
    font-size: 15px;
    font-weight: 600;
    color: #0076FF;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  .toc a:hover {
    background: #0076FF;
    color: #fff;
  }

  /* محتوای اصلی */
  .guide-content {
    max-width: 900px;
    margin: 20px auto 50px auto;
    padding: 0 20px;
  }

  .guide-content h2 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 15px;
    color: #0076FF;
    font-weight: 700;
  }

  .guide-content p {
    font-size: 16px;
    margin: 0 0 20px;
    text-align: justify;
    color: #444;
  }

  /* نکات مهم */
  .highlight {
    background: #fff7e6;
    border-right: 5px solid #FF6A00;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 25px 0;
    color: #444;
    font-size: 15px;
  }

  /* واکنش‌گرا */
  @media (max-width: 600px) {
    header {
      font-size: 20px;
    }
    .guide-content h2 {
      font-size: 18px;
    }
    .guide-content p {
      font-size: 14px;
    }
    .toc {
      flex-direction: column;
      align-items: flex-start;
    }
    .toc a {
      font-size: 14px;
      padding: 5px 10px;
    }
    header h1 { font-size: 26px; margin-top: 14px;}
  }
  #start,#rules,#answering,#scoring,#support {
    scroll-margin-top: 100px;
  }