<!doctype html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>۴۰۴ — صفحه پیدا نشد</title>
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/404page.css') }}">
</head>
<body>
  <main class="container">


    <div class="content">
      <h1>این محتوا در کلاس ما ثبت نشده!</h1>
      <p class="lead">صفحه‌ای که به دنبال آن بودید یافت نشد یا ممکن است حذف شده باشد.</p>
      <a href="/" class="btn">بازگشت به نوپویان</a>
    </div>
    <div class="content">
        <div class="num">404</div>
        <!-- <div class="hint">صفحه مورد نظر شما اینجا نیست</div> -->
      </div>
  </main>
</body>
</html>
