{% extends "user/panel.html" %}
{% block head %}
    <title>دوره‌ها | {{current_user.first_name}} {{current_user.last_name}}</title>
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/course.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <meta name="more_of_page" content="{{ csrf_token() }}">
    <meta name="url_ap_" content="{{ url_for('user.get_part') }}">
    <meta name="url_p_" content="{{ url_for('user.part',part_auth='') }}">
{% endblock %}
{% block body %}
<div class="page-title">
    <h2>دوره‌های من</h2>
</div>
  
<section class="courses-section">
    <div class="courses-grid">
        {% for c in courses %}
        <div class="course-card" data-co-a="{{c.auth}}" data-co-t="{{c.title}}">
            <h4>{{c.title}}</h4>
            <p>توضیح: {{c.description}}</p>
        </div>
        {% else %}
        <div class="page-title">
            <!-- <h3 id="none_co">دوره ای برای شما وجود ندارد!</h3> -->
            <h3 id="none_co">شروع دوره‌ها از ۱۳ آبان</h3>
        </div>
        {% endfor %}
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='scripts/user/course.js') }}"></script>
{% endblock %}