<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/register.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <meta name="more_of_page" content="{{ csrf_token() }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>رهبران پیشتاز | ورود</title>
</head>
<body>
    <div id="body_co">
        <nav id="navbar">
            <ul id="menu_bar">
                <a href="{{ url_for('user.home') }}" id="nav_icon">رهبران آینده ساز</a>
                <li><a href="{{ url_for('user.blog') }}">بلاگ</a></li>
                <li><a href="{{ url_for('user.guide') }}">راهنما</a></li>
                <li><a href="{{ url_for('user.support') }}">پشتیبانی</a></li>
            </ul>
        </nav>

        <div id="content">
            <div class="login-card">
                <div class="login-header">ورود به حساب کاربری</div>
                <form class="log" action="#" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="form-group">
                        <label for="code">کدملی</label>
                        <input name="code" type="text" id="code" class="log" placeholder="مثال: 037xxxxxxx">
                    </div>
                    <div class="form-group">
                        <label for="password">رمز عبور</label>
                        <input name="password" type="password" id="password" class="log" placeholder="******">
                    </div>
                    <button type="submit" class="login-btn">ورود</button>
                </form>
                <div class="login-footer">
                    <a href="{{ url_for('user.register') }}{% if next is not none %}?next={{ next }}{% endif %}">ساخت حساب کاربری جدید</a>
                    <!-- <a href="#">فراموشی رمز عبور</a> -->
                </div>
            </div>
        </div>

            
    </div>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/user/register.js') }}"></script>
    
    

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if message == "کدملی یا رمز عبور اشتباه است!"%}
            <script type="module">
            Swal.fire({
                title: 'کدملی یا رمز عبور اشتباه است!',
                html: '',
                icon: 'error',
                confirmButtonColor: '#dc1225',
                confirmButtonText: '<div style="direction:rtl;font-size:18px;font-family:Iran,Calibri;font-weight:bold;"><i style="margin-left: 5px;" class="fa fa-times"></i> باشه</div>',
                showCloseButton: true,
                showLoaderOnConfirm:true,
                allowOutsideClick:false,
            }).then((result) => {swal.close();})
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

</body>
</html>