{% extends "user/panel.html" %}
{% block head %}
    <title>جزوات | {{current_user.first_name}} {{current_user.last_name}}</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/pamphlet.css') }}">
{% endblock %}
{% block body %}
<div class="page-title">
    <h2>جزوه‌های من</h2>
</div>
  
<section class="notes-section">
    <div class="notes-grid">
        {% for p in pamphlets %}
        <div class="note-card">
            <h4>{{p.title}}</h4>
            <p>{{p.description}}</p>
            <a href="{{url_for('user.single_pamphlet', pamphlet_auth=p.auth)}}"><button class="note-btn">دانلود جزوه</button></a>
        </div>
        {% else %}
        <div class="page-title">
            <h3 id="none_co">جزوه ای موجود نیست!</h3>
        </div>
        {% endfor %}
</section>
{% endblock %}