<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نمایش ویدیو | نوپویان</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/part.css') }}">
</head>
<body>

<iframe
    src="{{video_url}}"
    style="height:100%;width:100%;border:none;"
    allow="fullscreen; encrypted-media *;"
> </iframe>


<script src="{{ url_for('static', filename='scripts/user/part.js') }}"></script>
  
</body>