<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/register.css') }}">
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <meta name="more_of_page" content="{{ csrf_token() }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>نوپویان | ثبت نام</title>
    <meta name="description" content="ثبت‌نام در سامانه LMS نوپویان؛ ایجاد حساب کاربری برای شرکت در مسابقات، پیگیری دوره‌های آموزشی و استفاده از منابع طرح آموزش و پرورش.">
    <meta name="robots" content="noindex, nofollow">

</head>
<body>
    <div id="body_co">
        <div id="content">
            <div class="stars" id="stars"></div>
            <a href="/"><span id="back">بازگشت 
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 18 14" id="arrow">
                    <g id="Page-1" fill="none" fill-rule="evenodd" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
                        <g id="Artboard" stroke="currentColor" stroke-width="2" transform="translate(-1669 -1321)">
                            <g id="arrow-left" transform="translate(1670 1322)">
                                <path id="Shape" d="M16 6H0M6 12 0 6l6-6"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </span></a>
            <div class="login-card">
                <div class="login-header">ایجاد حساب کاربری</div>
                <form class="log" action="#" method="post" onsubmit="return checking(event)" data-check-url="{{ url_for('user.is_repetitive') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="form-group">
                        <label for="code">کدملی</label>
                        <input name="code" type="text" id="code" class="log" placeholder="مثال: 037xxxxxxx" required>
                    </div>
                    <div class="form-group">
                        <label for="password">رمز عبور</label>
                        <input name="password" type="password" id="password" class="log" placeholder="******" required>
                    </div>
                    <div class="form-group">
                        <label for="password2">تکرار رمز عبور</label>
                        <input type="password" id="password2" class="log" placeholder="******" required>
                    </div>
                    <div class="form-group">
                        <label for="province">استان</label>
                        <select name="province" id="province" class="js-example-basic-single" onchange="fetchCities(this.value)" required>
                            <option selected disabled value="">انتخاب استان</option>
                            {% for p in provinces%}
                            <option value="{{p}}">{{p}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="city">شهرستان</label>
                        <select name="city" id="city" class="js-example-basic-single" required>
                            <option selected disabled value="">انتخاب شهرستان</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="invite_code">کد دعوت (اختیاری)</label>
                        <input name="invite" type="text" id="invite_code" class="log" placeholder="مثال: abc123">
                    </div>
                    <button type="submit" class="login-btn">ثبت نام</button>
                </form>
                <div class="login-footer">
                    <a href="{{ url_for('user.login') }}{% if next is not none %}?next={{ next }}{% endif %}">قبلا اینجا حساب کاربری داشتم</a>
                    <!-- <a href="#">فراموشی رمز عبور</a> -->
                </div>
            </div>
        </div>

            
    </div>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/user/register.js') }}"></script>
    



{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if message == "کدملی یا رمز عبور اشتباه است!"%}
            <script type="module">
                Swal.fire({
                    title: 'کدملی یا رمز عبور اشتباه است!',
                    html: '',
                    icon: 'error',
                    confirmButtonColor: '#dc1225',
                    confirmButtonText: '<div class="b123"><i class="i123 fa fa-times"></i> باشه</div>',
                    showCloseButton: true,
                    showLoaderOnConfirm:true,
                    allowOutsideClick:false,
                }).then((result) => {swal.close();})
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

</body>
</html>