{% extends "main.html" %}
{% block head %}
    <meta name="more_of_page" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user/treasure.css') }}">

    <title>نوپویان | راهنما</title>
    <meta name="description" content="راهنمای کامل استفاده از سامانه LMS طرح نو پویان؛ آموزش ورود، راهنما، شرکت در مسابقات، مشاهده دوره‌ها و رفع مشکلات رایج کاربران.">
    <meta name="robots" content="index, follow">

{% endblock %}
{% block body %}
<img id="gow" src="{{ url_for('static', filename='main_img/03.png') }}" alt="">
<br><br><br><br>
<h1 style="align-self: center;">دوره‌ها و کارگاه‌ها</h1>
<br>
<div id="container">
    <div class="course">
        <img class="course_pro" src="{{ url_for('static', filename='img/courses/01.png') }}" alt="" loading="lazy">
        <div class="course_bio">
            <h2 class="course_name">دوره مدیریت بحران و امدادگری</h2>
            <div class="course_dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای </div>
        </div>
    </div>
    <div class="course">
        <img class="course_pro" src="{{ url_for('static', filename='img/courses/01.png') }}" alt="" loading="lazy">
        <div class="course_bio">
            <h2 class="course_name">دوره مدیریت بحران و امدادگری</h2>
            <div class="course_dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای </div>
        </div>
    </div>
    <div class="course">
        <img class="course_pro" src="{{ url_for('static', filename='img/courses/01.png') }}" alt="" loading="lazy">
        <div class="course_bio">
            <h2 class="course_name">دوره مدیریت بحران و امدادگری</h2>
            <div class="course_dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای </div>
        </div>
    </div>
    <div class="course">
        <img class="course_pro" src="{{ url_for('static', filename='img/courses/01.png') }}" alt="" loading="lazy">
        <div class="course_bio">
            <h2 class="course_name">دوره مدیریت بحران و امدادگری</h2>
            <div class="course_dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای </div>
        </div>
    </div>
    <div class="course">
        <img class="course_pro" src="{{ url_for('static', filename='img/courses/01.png') }}" alt="" loading="lazy">
        <div class="course_bio">
            <h2 class="course_name">دوره مدیریت بحران و امدادگری</h2>
            <div class="course_dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای </div>
        </div>
    </div>
    <div class="course">
        <img class="course_pro" src="{{ url_for('static', filename='img/courses/01.png') }}" alt="" loading="lazy">
        <div class="course_bio">
            <h2 class="course_name">دوره مدیریت بحران و امدادگری</h2>
            <div class="course_dis">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای </div>
        </div>
    </div>
</div>

{% endblock %}